name: CI-CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ amrmohsen1 }}
          password: ${{ dckr_pat_ulh74ccSH7Kvwc6dddGex1Sy-2A }}

      - name: Build Docker Image
        run: |
          docker build -t amrmohsen1/flask-app:latest .

      - name: Push Docker Image
        run: |
          docker push amrmohsen1/flask-app:latest
